$blue: rgb(0, 159, 227);
$green: rgb(0, 148, 83);
$navy: rgb(0, 23, 43);
$orange: rgb(237, 112, 4);
$lightBlue: rgb(212, 237, 252);
$grey: rgb(242, 242, 242);
$darkGrey: lighten(#000, 20%);
$linkBlue: #406B85;
$linkBlueHover: lighten($linkBlue, 20%);
$darkBlue: #003A5C;

$openSans: 'Open Sans', sans-serif;